/* Custom CSS for modern-looking design */

.order {
    max-height: 100vh;
    height: 100vh;
}

.table {
    border-radius: 10px;
    overflow: scroll;
    width: 95%;
    margin: auto;
}

.table th,
.table td, table tr td:nth-child(2) {
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    color: #3e3e3f;
}

.table td {
    border-color: #dee2e6;
}

.table-bordered {
    border: 1px solid #dee2e66e;
}

.rounded-circle {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.dot {
    width: 8px;
    height: 8px;
    background-color: inherit;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}

table tbody tr td img {
    width: 20px;
    height: 20px;
    object-fit: cover;
}
