.pro-sidebar .pro-menu-item {
    transition: background-color 0.3s ease-in-out;
}

.pro-sidebar .pro-menu-item:hover {
    background-color: #f0f0f0;
}

.pro-sidebar .pro-menu-item.active {
    background-color: #d0d0d0;
}


.pro-sidebar .pro-menu-item {
    transition: all 0.3s ease-in-out;
}

.pro-sidebar .pro-menu-item .menu-item-label {
    display: none;
    /* Hide the text by default */
}

.pro-sidebar .pro-menu-item:hover .menu-item-label {
    display: inline;
    /* Show the text on hover */
}

.menu-icon {
    display: none;
  }
  
  @media screen and (max-width: 1000px) {
    .pro-sidebar {
      width: 60px; /* Adjust as needed */
    }
    .menu-icon {
        display: inline-block;
        font-size: 24px;
        cursor: pointer;
      }
  
    .pro-sidebar .pro-menu-item .menu-item-label {
      display: none !important; /* Hide the text */
    }
  
    .pro-sidebar:hover {
      width: 240px; /* Adjust as needed */
    }
  
    .pro-sidebar:hover .pro-menu-item .menu-item-label {
      display: inline !important; /* Show the text on hover */
    }
  }
  