.sidebar {
	background-color: #ffffff;
	border-right: 2px solid #e0e0e0;
	height: 100%;
}

.sidebar .profile {
	justify-content: space-evenly;
}

.sidebar .profile img {
	width: 32.5px;
	height: 32.5px;
	border-radius: 50%;
	margin: auto;
}

.sidebar ul {
	margin-top: 1rem;
}

.sidebar ul li {
	border-bottom: 1px solid #c4c4c44b;
	/* display: flex; */
	margin: auto;
	align-items: center;
	justify-content: center;
}

.sidebar ul li a,
.sidebar ul li button {
	color: #6b6969;
	font-weight: 500;
	display: flex;
	width: 90%;
	align-items: center;
	font-size: 1.05rem;
	border: 0;
	padding: 0.3rem;
}

.sidebar ul li a i,
.sidebar ul li button i {
	font-size: 0.9rem;
	margin-right: 1rem;
}

.sidebar ul li:nth-child(2) a, .sidebar ul li:nth-child(3) a {
	/* background-color: #4e1212; */
	width: auto;
	padding-left: 3rem;
	font-size: 0.95rem;
	border-bottom: 1px solid #e9e4e4;

}

.sidebar ul li button i:nth-child(2) {
	margin-left: auto;
}

.sidebar a:nth-child(2) {
	display: flex;
	width: 55%;
	margin: auto;
	align-items: center;
}

.sidebar a:nth-child(2) i {
	/* margin-left: 2rem; */
	margin-right: auto;
	color: #4e4d4d;
}

.sidebar a:nth-child(2) p {
	margin: auto;
	font-size: 1rem;
	color: #4e4d4d;
	font-weight: 650;
}
